**/*~
**/__pycache__
**/.venv
**/site-packages
**/.mypy_cache
**/#*#
.ob-jupyter
keys
src/assist.egg-info/
.coverage
coverage.xml
llm-config.yml
/edd/history/
/playground
.deploy.env
.dev.env
threads.db
.test-results.db
*.db
/reference/
config.yml
/config.yml
/assist.egg-info/
