fastapi>=0.115
uvicorn
loguru
pydantic>=2
langchain
langchain-core
langchain-community
langchain-openai
langchain-ollama
langchain-chroma
langgraph
tavily-python
chromadb
pytest
sentence-transformers
vgrep==0.1.1
