fastapi>=0.115
uvicorn
loguru
pydantic>=2
langchain
langchain-core
langchain-community
langchain-openai
langchain-ollama
langchain-chroma
langchain-tavily
langgraph
tavily-python
chromadb
pytest
pytest-cov
sentence-transformers
vgrep==0.1.4
Jinja2==3.1.6
mypy
typer
pyyaml
jsonschema
pathspec
requests
types-requests
types-python-dateutil
types-PyYAML

