Here is the overall user task {{ goal }}

Here are the steps and their resolution:
{% for plan_step in step_resolutions %}
  Step {{ loop.index }}:
  - Objective: {{ plan_step.objective }}
  - Action {{ plan_step.action }}
  - Resolution: {{ plan_step.resolution }}
{% endfor %}

Here are the remaining steps to be taken:
{% for next_plan_step in remaining_steps %}
  Step {{ loop.index + (step_resolutions|length) }}:
  - Objective: {{ next_plan_step.objective }}
  - Action: {{ next_plan_step.action }}
{% endfor %}
